@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    background-image: url(https://cdn.wallpapersafari.com/41/41/vIdSZT.jpg);
    
    }

* {font-family: 'Anta';}


a{
    text-decoration:none;
    color:aqua !important;
    font-weight:500;
}

a:hover{
    color:burlywood !important;
    text-decoration:none;

}

ul{list-style-type:none;}

hr{
    margin-top:0px;
    margin-bottom:5%;
}

#Mainmenu{visibility:hidden;}
footer {visibility:hidden;}
header {visibility:hidden;}